/* 

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  max-width: 250px;
}

.try {
  position: relative;
}

.try input,
.try textarea {
  position: absolute;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--li-maroon);
  background: transparent;
  padding: 8px 4px;
  color: var(--sol-maroon);
  font-size: 1em;
}

.try span {
  position: absolute;
  left: 0;
  padding: 8px 4px;
  font-size: 20px;
  pointer-events: none;
  text-transform: uppercase;
  transition: all 0.5 ease-in-out;
  transition: 0.5s;
}

.try input:focus ~ span,
.try input:valid ~ span,
.try textarea:focus ~ span,
.try textarea:valid ~ span {
  color: var(--sol-maroon);
  transform: translateY(-20px);
  font-size: 15px;
  padding: 4px 0px;
  z-index: 111;
} */
